
.dashboard-wrapper {
    @include borderStyle;
    position: relative;
    max-width: $max-width-main-dialog;
}

.dashboard-tab-wrapper {
    @include headerStyle;
    border: none;
    width: 100%;
}
// lighter color
.selected-tab {
    background: $dialog-primary-color;
    border-top:  1px solid gray;
}
// darker color
.unselected-tab {
    background: $dialog-secondary-color;
    border: 1px solid gray;
}

.raise-left-tab {
    border-right:  1px solid gray;
}

.raise-right-tab {
    border-left:  1px solid gray;
}

.dashboard-tab-left {
    display: inline-block;
    border-top-left-radius: 8px;
    border-top-right-radius: 10px;
    float: left;
    height: 2.5rem;
    width: 50%;
    padding: 2px 0 2px;
    cursor: pointer;
}

.dashboard-tab-right {
    display: inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 8px;
    float: right;
    height: 2.5rem;
    width: 50%;
    padding: 2px 0 2px;
    cursor: pointer;
}

.dashboard-tab-body {
    float: left;
    width: 100%;
    background: $dialog-primary-color;
}
