.leaderboard {
    margin-bottom: 20px;
}

.leaderboard-item-wrapper {
    @include borderStyle;
    display: flex;
    flex-direction: row;
    max-width: $max-width-question;
    height:100%;
    text-align: left;
    background: $dialog-primary-color;
}

.leaderboard-avatar {
    height: 100px;
    width: 100px;
    border-radius: 25px;
    margin: 20px 25px 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.leaderboard-details-wrapper {
    display: flex;
    width: 180px;
    text-align: center;
    flex-direction: column;
    text-align: left;
    padding: 10px 0px 10px;
    font-style: italic;

    div {
        font-weight: bold;
        font-style: normal;
        font-size: 2rem;
        margin: 10px 0 10px;
    }

    p {
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 10px;
    }

    hr {
        @include hrule;
        width: 170px;
    }
}

.leaderboard-score-wrapper {
    @include borderStyle;
    position: relative;
    display: flex;
    flex-direction: column;
    height:100%;
    width: 100px;
    font-size: 1.25rem;
    font-weight: bold;
    background: $dialog-primary-color;
    padding: 10px;
    margin: 20px 20px 20px 0;

    p {
        padding-bottom: 20px;
    }

    .leaderboard-circle {
        width: 50px;
        height: 50px;
        background: $background-base-color;
        border-radius: 50%;
        margin: 10px;
        margin-left: 14px;
    }

    span {
        position: absolute;
        top: 82px;
        left: 40px;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: $goingMobile) {
    .leaderboard {
        margin-bottom: 10px;
    }
    .vhr-wrapper {
        margin: 5px;
    }

    .leaderboard-avatar {
        border-radius: 13px;
        margin: 10px 5px 5px;
    }

    .leaderboard-details-wrapper {
        width: 150px;
        padding: 5px 5px 5px;
        margin: 5px;

        div {
            font-size: 1.5rem;
            margin: 5px 0 5px;
        }

        p {
            font-size: 1rem;
            padding-bottom: 5px;
        }

        hr {
            @include hrule;
            width: 125px;
        }
    }

    .leaderboard-score-wrapper {
        width: 70px;
        font-size: 1.25rem;
        padding: 10px;
        margin: 10px 5px 10px 0;

        p {
            padding-bottom: 10px;
        }

        .leaderboard-circle {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 5px;
            margin-left: 0;
        }

        span {
            top: 70px;
            left: 29px;
        }
    }
}
