
.login-wrapper {
    @include borderStyle;
    display: block;
    max-width: $max-width-login;
    background: $dialog-primary-color;
}

span.login-text {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 25px;
}

.login-header {
    @include headerStyle;

    p:first-child {
        font-size: 1.25rem;
        font-weight: bold;
        padding: 10px 0 10px;
    }
}

.login-logo {
    height: 80px;
    border-radius: 25px;
    margin: 10px;
    background-image: url("../images/spiral_galaxy.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

div.login-form-error {
    background-color: rgba(200, 55, 55, 1);
    font-style: italic;
    color: rgba(255, 255, 255, 1);
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 0 15px 0;
    text-align: center;
    border-color: rgba(216, 112, 112, 1);
    border-width: 2px;
    border-style: solid;
}

div.login-form-error
.login-form-input-wrapper {
    display: inline-block;
}

.login-form-input-wrapper input {
    width: 150px;
    height: 1.5rem;
    margin: 0 5px 0;
    padding: 2px;
}

.login-form-button-wrapper {
    @include btnWrapper;
}

.login-form-button {
    @include btn;
}
