.new-question-wrapper {
    @include borderStyle;
    display: flex;
    flex-direction: column;
    max-width: $max-width-question;
    height:100%;
    text-align: center;
    background: $dialog-primary-color;

    p{
        padding: 5px;
    }
}

.new-question-header{
    @include headerStyle;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 10px 2px 10px;
}

.new-question-form {
    display: block;
    padding: 10px;

    input {
        margin: 10px;
        padding: 2px;
        height: 1.5rem;
        width: 250px;
    }
}

.new-question-button-wrapper{
    @include btnWrapper;
}

.new-question-button {
    @include btn;

    margin: 10px 0 0;
    padding: 5px 0 5px;
    width: 200px;
    text-transform: none;
}
